<div id="learn-more" class="bg-white py-12">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <h2 class="text-base text-ses-blue-light font-semibold tracking-wide uppercase">詳しく知る</h2>
      <p class="mt-4 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
        SES企業について
      </p>
    </div>
    <div class="mx-auto mt-10  w-5/10">
      <p class="text-lg text-gray-500">
        SES（System Engineering Service）企業は、エンジニアを顧客企業に派遣するビジネスモデルを持つ企業です。メリットもありますが、キャリア形成の観点からデメリットも存在します。SESチェッカーを使って、求人情報を詳しく分析し、あなたに最適な選択をしましょう。
      </p>
      <div class="mt-6">
        <%= link_to "もっと詳しく", members_ses_points_path, class: "text-ses-blue-middle hover:text-indigo-500" %>
      </div>
    </div>
  </div>
</div>