<div id="learn-more" class="bg-white py-12">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <h2 class="text-base text-ses-blue-light font-semibold tracking-wide uppercase">失敗から学ぶ</h2>
      <p class="mt-4 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
        実録！SES失敗談
      </p>
    </div>
    <div class="mx-auto mt-10 w-2/3">
      <p class="mb-10 text-lg text-gray-500">
        世の中にはホワイト企業とブラック企業が存在します。実際にあった先輩達のSES失敗談を参考に、ホワイト企業かどうかを見極める力を身につけましょう！
      </p>

      <p class="mb-4 text-lg text-center text-gray-500">
        ログインして全ての機能を使ってね！
      </p>
      <!--ログインログアウトボタン-->
      <%= render 'shared/auth_oauth_header' %>
      
    </div>
  </div>
</div>