<!--app/views/analyzer/index.html.erb-->
<!--TOP：ログイン前ページ-->
    <%= render 'description/description_top' %>
    <%= render 'description/description_carrier' %>

    <div id="quick-check" class="py-12 my-16">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="lg:text-center">
          <h2 class="text-base text-ses-blue-light font-semibold tracking-wide uppercase">クイックチェック</h2>
          <p class="mt-4 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
            今すぐSES企業をチェック
          </p>
        </div>
        <div class="mt-12">
        <!--分析機能-->
        <%= render 'analyzer/analyzer_form' %>
        </div>
      </div>
    </div>

    <%= render 'description/description_learn' %>
</div>










