<!--面接の時に確認するポイント-->
<div class="flex-direction">
  <div class="container mx-auto p-4">
    <div class="flex flex-col md:flex-row">
      <main class="w-full ">
        <h1 class="text-3xl font-bold mb-8">求人＆面接で確認するポイント</h1>
        <div class="bg-white shadow-md rounded-lg p-12">
          <h2 class="text-xl font-bold text-gray-800 mb-2 mt-467890876 flex items-center">
            <span class="material-icons text-ses-blue-light mr-2 text-2xl transform -translate-y-[1px]">quiz</span>
            <span>面接で技術の話が出たかどうか</span>
          </h2>
          <div class="ml-5">
            <br>
              <p class="mb-1 border-b border-solid border-b-4">
                <span class="text-bold text-ses-blue-middle font-semibold tracking-wide uppercase">
                  採用担当者もしくは社長と技術の話ができるかどうか？
                </span>
              </p>
            <p>SES企業の面接では、あまり技術的な話をしません。採用担当の方自身があまり開発技術や言語に詳しくないことが殆どです。開発について詳しい人は現場に行っているため、採用の場に出てこないこともよくあります。</p>
            <p>自社開発や受託開発の会社であれば、一次面接・二次面接のどちらかに技術分野の方が採用を担当することが殆どです。</p>
            <br>
            <p>もし技術的な話ができる人が採用の場に出てこない場合は、社内でもエンジニアの評価を技術基準で行うことができず、評価が曖昧で在籍年数で給与が決まっていることもあります。</p>
            <br>
            <p>エンジニアとしてのキャリアパスを考えるのであれば、会社全体としてエンジニアの仕事やキャリアに詳しい人達のいる企業に就職することが望ましいです。</p>
          </div>
        </div>
      </main>
    </div>
  </div>

  <div class="container mx-auto p-4">
    <div class="flex flex-col md:flex-row">
      <main class="w-full ">
        <div class="bg-white shadow-md rounded-lg p-12">
          <h2 class="text-xl font-bold text-gray-800 mb-2 mt-467890876 flex items-center">
            <span class="material-icons text-ses-blue-light mr-2 text-2xl transform -translate-y-[2px]">quiz</span>
            <span>Web企業の案件を持っているか</span>
          </h2>
          <div class="ml-5">
            <br>
              <p class="mb-1 border-b border-solid border-b-4">
                <span class="text-bold text-ses-blue-middle font-semibold tracking-wide uppercase">
                  提携企業の業界の確認
                </span>
              </p>
              <p>
                SESで取り扱っている案件はSlerのことが多いです。Slerでは大規模な開発を行っているため、エンジニアの人数が必要なため、SES事業と相性が良いためです。
              </p>
              <p>もし、Web業界でエンジニアとして就職したいのであれば、面接に行った企業の提携先の確認、もしくは先輩達の派遣されている案件の業界は、どのようなものが多いのかを確認した方がいいかもしれません。</p>
              <br>
              <p>Web業界の企業のカルチャーとSlerの企業のカルチャーは大きく異なるので、ご自身が働きたい業界なのかを確認した方がいいかもしれません。</p>
              <br>
              <p>開発案件自体を持っていない企業も多くあるため、「まずはインフラの現場で経験を積んで〜...」というお話を出されるようであれば、開発の案件をあまり持っていない可能性も高いです...。</p>
          </div>
        </div>
      </main>
    </div>
  </div>

  <div class="container mx-auto p-4">
    <div class="flex flex-col md:flex-row">
      <main class="w-full ">
        <div class="bg-white shadow-md rounded-lg p-12">
          <h2 class="text-xl font-bold text-gray-800 mb-2 mt-467890876 flex items-center">
            <span class="material-icons text-ses-blue-light mr-2 text-2xl transform -translate-y-[2px]">quiz</span>
            <span>研修内容について</span>
          </h2>
          <div class="ml-5">
            <br>
              <p class="mb-1 border-b border-solid border-b-4">
                <span class="text-bold text-ses-blue-middle font-semibold tracking-wide uppercase">
                  研修は誰が担当してどのような内容なのか？
                </span>
              </p>
            <p>SES企業は常駐先が入社した後に面接を行って案件先が決まります。</p>
            <p>そのため、入社したばかりの時はどのような案件に参画するか分らないため、実業務での研修ができません。</p>
            <p>また、研修期間もほとんどなく現場に入れられる企業もあります。</p>
             <br>
            <p>研修が終了するタイミングも企業によって異なるため、面接の際に聞いておくと企業の判断基準になると思います。</p>
            <br>
            <p class="text-red-600">※ SES企業のなかには研修期間中は給与が発生しないという条件の企業も存在します。契約内容はしっかり確認するようにしてください。</p>
          </div>
        </div>
      </main>
    </div>
  </div>

  <div class="container mx-auto p-4">
    <div class="flex flex-col md:flex-row">
      <main class="w-full ">
        <div class="bg-white shadow-md rounded-lg p-12">
          <h2 class="text-xl font-bold text-gray-800 mb-2 mt-467890876 flex items-center">
            <span class="material-icons text-ses-blue-light mr-2 text-2xl transform -translate-y-[2px]">quiz</span>
            <span>案件が選べるのかどうか？</span>
          </h2>
          <div class="ml-5">
            <br>
              <p class="mb-1 border-b border-solid border-b-4">
                <span class="text-bold text-ses-blue-middle font-semibold tracking-wide uppercase">
                  案件を選べず拒否権がない企業もあります
                </span>
              </p>
            <p>「自分はWebエンジニア志望なので、企業はWebエンジニアの案件を用意してくれるだろう」と考えるのはちょっと待ってください！</p>
            <br>
            <p>あくまでも企業が持っている案件は営業さんが取ってきたもの。SES企業であれば無条件で沢山の案件を持っているわけではありません。</p>
            <br>
            <p>面接を受ける企業がどのような案件を持っていて、自身が希望する案件を選べるのかどうかは重要なポイントです。</p>
            <p>未経験というだけで、案件が選べないという企業はよくあります。最初の案件で運用監視や事務作業などの自分が望まない案件にアサインされる可能性があるのかどうかは必ず確認しましょう。</p>
          </div>
        </div>
      </main>
    </div>
  </div>

  <div class="container mx-auto p-4">
    <div class="flex flex-col md:flex-row">
      <main class="w-full ">
        <div class="bg-white shadow-md rounded-lg p-12">
          <h2 class="text-xl font-bold text-gray-800 mb-2 mt-467890876 flex items-center">
            <span class="material-icons text-ses-blue-light mr-2 text-2xl transform -translate-y-[2px]">quiz</span>
            <span>社員数について</span>
          </h2>
          <div class="ml-5">
            <br>
              <p class="mb-1 border-b border-solid border-b-4">
                <span class="text-bold text-ses-blue-middle font-semibold tracking-wide uppercase">
                  年間の退職者が多い企業は要注意
                </span>
              </p>
            <p>SES事業は特殊な事業形態です。企業のサポートが手厚ければ、ワークライフバランスを重視した働き方が実現できるかもしれませんが、案件が安定せずに年に何回も現場を変わっている人もいます。</p>
            <p>そのため、SESでは退職者が多いこともよくあります。</p>
            <br>
            <p>HPから社員数の推移や事業の成長率などが分かるようであれば、しっかりと確認してください。もし見当たらないようであれば、面接の際に社員数の推移などをお伺いしても良いと思います。</p>
          </div>
        </div>
      </main>
    </div>
  </div>

  <div class="container mx-auto p-4">
    <div class="flex flex-col md:flex-row">
      <main class="w-full ">
        <div class="bg-white shadow-md rounded-lg p-12">
          <h2 class="text-xl font-bold text-gray-800 mb-2 mt-467890876 flex items-center">
            <span class="material-icons text-ses-blue-light mr-2 text-2xl transform -translate-y-[2px]">quiz</span>
            <span>創業年数と社員数に関して</span>
          </h2>
          <div class="ml-5">
            <br>
              <p class="mb-1 border-b border-solid border-b-4">
                <span class="text-bold text-ses-blue-middle font-semibold tracking-wide uppercase">
                  気軽に起業できるSESという事業形態
                </span>
              </p>
            <p>SES事業は、エンジニアと営業が存在していれば、気軽に始めることができます。</p>
            <p>セキュリティの観点から、PCなども常駐先から貸与されることが多く、在宅ワークと称して自宅で仕事をすることで、設備投資などなくスタートすることができるのです。</p>
            <br>
            <p>企業の根幹であるミッションビジョンがなく、"社員数を増やして案件にアサインしていれば企業利益が上がる"という考えのもと事業展開しようとしている企業も多々あります。</p>
            <br>
            <p>そのような状況では、社員満足度が低く退職者も増えるため、創業年数と社員数は必ずチェックしてください。</p>
          </div>
        </div>
      </main>
    </div>
  </div>
  
</div>