<!--面接の時に確認するポイント-->
<div class="container mx-auto px-4 py-8">
  <div class="flex flex-col md:flex-row">
    <aside class="w-full md:w-1/4 mb-8 md:mb-0 md:mr-8">
      <%= render 'shared/member_sidebar' %>
    </aside>
    <main class="w-full md:w-3/4">
      <h1 class="text-3xl font-bold mb-8">SESを見分けるポイント</h1>
      <div class="bg-white shadow-md rounded-lg p-6">
        <ul class="list-disc pl-5 space-y-4">
        <li>具体的な案件や仕事内容について詳しく聞く</li>
        <li>勤務地や勤務時間の変更頻度について確認する</li>
        <li>スキルアップのための教育制度や支援制度について尋ねる</li>
        <li>給与体系（固定給vs業績連動）について詳細を確認する</li>
        <li>長期的なキャリアパスについて会社の方針を聞く</li>
        <!-- 他のポイントを追加 -->
        </ul>
      </div>
    </main>
  </div>
</div>