<!--SESとは？-->
<div class="flex-direction">
  <div class="container mx-auto p-4">
    <div class="flex flex-col md:flex-row">
      <main class="w-full ">
        <h1 class="text-3xl font-bold mb-8">SESの基礎知識</h1>
        <div class="bg-white shadow-md rounded-lg p-12">
          <h2 class="text-xl font-bold text-gray-800 mb-2 mt-467890876 flex items-center">
            <span class="material-icons text-ses-blue-light mr-2 text-2xl transform -translate-y-[2px]">quiz</span>
            <span>SESとは？</span>
          </h2>
          <br>
          <div class="ml-5">
              <p class="mb-1 border-b border-solid border-b-4">
                <span class="text-bold text-ses-blue-middle font-semibold tracking-wide uppercase">
                  プロジェクトの期間
                </span>
              </p>
            <p><span class="font-semibold">SESは、システムエンジニアリングサービス(Systems Engineering Services)の略称です。</span>これは、システムエンジニアの能力を契約の対象とする事業形態のことを指します。</p>
            <p>SES企業は、エンジニアが不足している企業と契約を結び、その後、<span class="font-semibold">SES企業に所属するエンジニアを、提携企業のプロジェクト(案件)に派遣します。</span></p>
            <br>
            <p>エンジニアは、 <span class="bg-yellow-200 bg-opacity-50 inline-block to-50% inline">必ずしもプロジェクトの全期間を通して業務に携わるわけではなく、プロジェクトの途中から参加したり、途中で抜けたりすることもあります。</span>これは、賃金がシステムの完成ではなく、技術者の労働力に対して支払われるためです。</p>
            <br>
            <p><span class="font-semibold">エンジニアが案件に参加する際には、通常、面談を行います。</span>この面談をパスすると、案件に参加できます。（ここでいう面談とは、提携企業との面接のようなものですが、SESの業界では「面接」ではなく「面談」と呼ばれることが多いです。）</p>
            <br>
            <p>また、エンジニアが別のプロジェクトに移る場合、つまり提携企業の別の案件にアサインされる場合には、再度面談が行われます。このため、<span class="bg-yellow-200 bg-opacity-50 inline-block to-50% inline">案件が変わるたびに面談が実施されることになります。</span></p>
          </div>
        </div>
      </main>
    </div>
  </div>

  <!--派遣契約との違いは？-->
  <div class="container mx-auto p-4">
    <div class="flex flex-col md:flex-row">
      <main class="w-full ">
        <div class="bg-white shadow-md rounded-lg p-12">
          <h2 class="text-xl font-bold text-gray-800 mb-2 mt-5 flex items-center">
            <span class="material-icons text-ses-blue-light mr-2 text-2xl transform -translate-y-[2px]">quiz</span>
            <span>派遣契約との違いは？</span>
          </h2>
          <br>
            <div class="ml-5">
              <p class="mb-1 border-b border-solid border-b-4">
                <span class="text-bold text-ses-blue-middle font-semibold tracking-wide uppercase">
                  SES契約
                </span>
              </p>
              <p>SES契約は、労働法規の観点からは業務請負の一種とみなされます。<span class="bg-yellow-200 bg-opacity-50 inline-block to-50% inline">そのため、労務管理や指揮命令系統は、発注元企業から独立している必要があります。</span> </p>
              <br>
              <p>例えば、エンジニアの残業時間が多い場合や、稼働日数が過剰な場合、所属するSES企業から契約会社（発注元企業）に対して厳重注意を行い、改善を求めることができます。また、業務内容に関する指揮命令権もSES企業にあります。したがって、<span class="bg-yellow-200 bg-opacity-50 inline-block to-50% inline">エンジニアの研修やプロジェクトの実作業に関しても、SES企業が指揮命令を行う必要があります。</span></p>
              <br>
              <p class="mb-1 border-b border-solid border-b-4">
                <span class="text-bold text-ses-blue-middle font-semibold tracking-wide uppercase">
                  派遣契約
                </span>
              </p>
              <p>これに対し、派遣契約の場合は状況が異なります。<span class="font-semibold">派遣では、エンジニアへの指揮命令は常駐先の企業（クライアント企業）に委ねられています。</span></p>
              <br>
              <p>この指揮命令系統の違いが、SES企業と派遣事業者との間の大きな違いの一つとなっています。</p>
            </div>
            <br>
        </div>
      </main>
    </div>
  </div>

  <!--現在のSESの問題点とは？-->
  <div class="flex-direction">
    <div class="container mx-auto p-4">
      <div class="flex flex-col md:flex-row">
        <main class="w-full ">
          <div class="bg-white shadow-md rounded-lg p-12">

          <h2 class="text-xl font-bold text-gray-800 mb-2 mt-5 flex items-center">
            <span class="material-icons text-ses-blue-light mr-2 text-2xl transform -translate-y-[2px]">quiz</span>
            <span>現在のSESの問題点とは？</span>
          </h2>
          <br>
            <div class="ml-5">
              <p class="mb-1 border-b border-solid border-b-4">
                <span class="text-bold text-ses-blue-middle font-semibold tracking-wide uppercase">
                  多重下請け
                </span>
              </p>
              <p>多重下請けとは、発注者から委託された業務を元請け企業が、<span class="bg-yellow-200 bg-opacity-50 inline-block to-50% inline">一次請け企業、二次請け企業、さらにその下層の企業に流れていく構造</span>のことです。建設業界でよくみられる構造を見本にして作られたのがSESという事業形態です。</p>
              <br>
              <p class="mb-1 border-b border-solid border-b-4">
                <span class="text-bold text-ses-blue-middle font-semibold tracking-wide uppercase">
                  多重下請けの何が悪いの？
                </span>
              </p>
              <p>
                元請けから依頼される際の契約単価は、下請け企業が増えたとしても変わりません。しかし、<span class="text-red-600">元請け会社とエンジニアが所属する企業の間に入る下請け会社が多ければ多いほど、中間マージンが抜かれていきます。</span>
              </p>
              <br>
              <p>
                そのため、多重下請けの企業が多くなればなるほど、エンジニアのお給料が低くなる傾向にあります。<br>また、現場で認められるような働きをしたとしても、その現場の社員ではないため、待遇が良くなるのには所属する企業に認めてもらえるまでに時間差が生まれることがあります。
              </p>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>

  <!--現在のSES契約と派遣契約の違い-->
  <div class="flex-direction">
    <div class="container mx-auto p-4">
      <div class="flex flex-col md:flex-row">
        <main class="w-full ">
          <div class="bg-white shadow-md rounded-lg p-12">
          <h2 class="text-xl font-bold text-gray-800 mb-2 mt-5 flex items-center">
            <span class="material-icons text-ses-blue-light mr-2 text-2xl transform -translate-y-[2px]">quiz</span>
            <span>現在のSES契約と派遣契約の違い</span>
          </h2>
            <br>
            <div class="ml-5">
              <p class="mb-1 border-b border-solid border-b-4">
                <span class="text-bold text-ses-blue-middle font-semibold tracking-wide uppercase">
                  現場には一人で入る
                </span>
              </p>
              <p>本来のSES契約は、ある程度の人数のエンジニアを同じプロジェクトにアサインして、同じ会社の社員内で研修や現場での指示をこなうのですが、<span class="bg-yellow-200 bg-opacity-50 inline-block to-50% inline">現在のSESの現場ではそれがほとんど行われていません。</span></p>
              <br>
              <p>現場には面談後に一人で派遣され、同じ会社の社員がいない状態でのお仕事になることも少なくありません。運が良ければ既に参画している現場に入ることもあると思いますが、その先輩が教育担当になってもらえる確約はありません。</p>
              <br>
              <p class="mb-1 border-b border-solid border-b-4">
                <span class="text-bold text-ses-blue-middle font-semibold tracking-wide uppercase">
                  紹介予定派遣などはない
                </span>
              </p>
              <p>派遣の契約形態によっては、”紹介予定派遣”を実施してい正社員や契約社員を目指す人を中心に注目を集めています。</p>
              <p><span class="bg-yellow-200 bg-opacity-50 inline-block to-50% inline">この制度はSES企業ではほとんどみられません。</span>特に間に企業が沢山入っている場合、各企業の中間マージンがなくなってしまうため、積極的に行なっている企業は少ないと思います。</p>
              <p></p>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>


  <!--自社開発や請負開発と何が違うの？-->
  <div class="flex-direction">
    <div class="container mx-auto p-4">
      <div class="flex flex-col md:flex-row">
        <main class="w-full ">
          <div class="bg-white shadow-md rounded-lg p-12">
                  <h2 class="text-xl font-bold text-gray-800 mb-2 mt-5 flex itemscenter">
            <span class="material-icons text-ses-blue-light mr-2 text-2xl transform -translate-y-[2px]">quiz</span>
            <span>自社開発や請負開発と何が違うの？</span>
          </h2>
          <br>
            <div class="ml-5">
              <p class="mb-1 border-b border-solid border-b-4">
                <span class="text-bold text-ses-blue-middle font-semibold tracking-wide uppercase">
                  開発の案件に入れるか分らない
                </span>
              </p>
              <p>自社開発や受託開発の企業に”開発エンジニアとして”就職した場合で、インフラエンジニアや事務の業務に就くことは珍しいかと思います。</p>
              <p>しかしSES企業の場合、<span class="bg-yellow-200 bg-opacity-50 inline-block to-50% inline">開発エンジニアを希望して入社したとして入社したとしても、未経験の場合はインフラや事務の案件に入ることも少なくありません。</span></p>
              <br>
              <p class="mb-1 border-b border-solid border-b-4">
                <span class="text-bold text-ses-blue-middle font-semibold tracking-wide uppercase">
                  一緒に働く人が変わる
                </span>
              </p>
              <p>入った現場の案件が、長期案件なのか短期案件なのかは業務内容により異なりますが、基本的にはいつかは案件が変わると思っておいた方がいいと思います。
              1ヶ月〜3ヶ月程度の案件もあれば、3年程度の案件もあります。</p>
              <br>
              <p>ご自身が長期的に案件に携わっていたとしても、周りのチームメンバーがSES企業のエンジニアだった場合は、チームから抜けていくこともよくあります。</p>
              <p><span class="font-semibold">チームメンバーは遅かれ早かれ変わると思っておいた方が良いと思います。</span></p>
              <br>

              <p class="mb-1 border-b border-solid border-b-4">
                <span class="text-bold text-ses-blue-middle font-semibold tracking-wide uppercase">
                  事業にコミットしづらい
                </span>
              </p>
              <p>SES企業はあくまでも下請け会社です。かなり優秀な方であれば可能ではありますが、PMやCTOなどの役職は元請け会社の方が担当することが多いため、大きな仕事を任せてもらいづらいという側面があります。</p>
              <br>
              <p>事業や仕様に関する提案などは、時間がかかったり責任の所在などの問題もあり、大手企業では採用されないことも多くあります。</p>
              <br>
            </div>

          </div>
        </main>
      </div>
    </div>
  </div>
</div>

